section {
    margin: 60px 0;
}

.item-list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main h1 {
    text-align: center;
    margin: 5%;
    font-size: 3em;
    color: #095fb4;
}

@media (max-width: 683px) {
    main h1 {
        margin: 10% 5%;
        font-size: 2em;
    }

}
